<%=stylesheet_link_tag 'application'%>
<link href='https://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>


<div class="row bottomBorder">
  <div class="col-xs-12 text-center">
    <h1>Welcome to <span class='logoType'>DuJour</span>, <%=@user.username%>!</h1>
  </div>
</div>

<div class='row'>
  <div class='col-xs-1'></div>
  <div class='col-xs-4'>
    <h2>Latest Recipes</h2>
    <%@recipes.all.order(updated_at: :desc).each do |recipe|%>
    <%if !!recipe.photo%>
      <%=image_tag recipe.photo.url%>
      <br>
    <%end%>
    <%=link_to recipe.name, recipe_path(recipe)%> by <%=link_to recipe.user.username, user_path(recipe.user)%>
    <br>
    <%end%>
  </div>
  <div class='col-xs-3'></div>
  <div class='col-xs-3'></div>
  <div class='col-xs-1'></div>
</div>