<div class='row'>
  <div class='col-md-2'></div>
    <div class='col-md-2'>
      <h1 class="logoType"><%=@recipe.name%></h1>
      Created by <%=link_to @recipe.user.username, user_path(@recipe.user)%><br>
      Views: <%=@recipe.views%>
      <br>
      <%=link_to "Edit", edit_recipe_path(@recipe)%>  ||  <%=link_to "Delete", recipe_path(@recipe), method: 'DELETE'%>

      <h3>Ingredients:</h3>
      <ul>
      <%@recipe.ingredients.each do |ingr|%>
      <li><%=RecipeIngredient.getAmount(@recipe.id, ingr.id)%> <%=link_to ingr.name, ingredient_path(ingr)%>
      <%end%>
    </ul>
  </div>
  <div class='col-md-4'>
      <%=image_tag @recipe.photo.url, class:'thumbnail'%>
  </div>
</div>
<div class='row'>
  <div class='col-md-4 col-md-offset-4'>
      <h3>Instructions: </h3>
      <p><%=@recipe.instructions%></p>
  </div>
</div>

<% if false #COMMENT OUT THIS SECTION%>

<div class="row comments">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <h4>Comments:</h4>
    <div id="comments_section">
      <ul id="comments_list">
        <%if @recipe.comments %>
          <%= @recipe.comments.each do |comment| %>
            <li><%= comment.content%>
          <%end%>
        <%end%>
      </ul>
    </div>
    <form id="comment_form">
      <label>New Comment:</label><br>
      <input type="text" size="50x40" name="content" id="content"/>
      <input type="submit" value="Submit"/>
    </form>
  </div>
</div>

<script type="javascript/text" charset="utf-8">

  $(document).ready(function(){

    $("#comment_form").on('submit', function(e){
      e.preventDefault();

      data = {
        'comment':{
          'content': $('#content').val();
        }
      };

      $.ajax({
        type:'POST',
        url: '/comments',
        data: data,
        success: function(response){
          var html = "<li>"
          html += response['content']
          $('#comments_list').append(html)
          $('#content').val("")
        }
      })
      e.preventDefault();
    })

  });

</script>

<% end %>
